@use "./mix-ins.scss" as *;
@use "./variable.scss" as *;
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #F0D883;
  background-image: url(./assests/—Pngtree—valentine\ hearts\ romantic\ border_7097274.png);
  font-family: 'Lobster', cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem;
  @include tablet {}
}
.title {
  color: #F6F4F5;
  font-size: 45px;
  white-space: nowrap;
  font-weight: 700;
  text-align: center;
  -webkit-text-stroke: .2px #EB426C;
  @include tablet {
    font-size: 80px;
    left: 40px;
  }
  @include desktop {
    font-size: 75px;
    color: #EB426C;
  }
}
.love__form {
  text-align: center;
  @include tablet {
    left: 50px;
  }
}
.comment__box {
  resize: none;
  border-radius: 5px;
  border-color: pink;
  color: #EB426C;
  width: 60%;
  height: 7vh;
  padding: 1rem 0.3rem;
  margin: 1rem;
  border: 2px solid rgb(220, 128, 186);
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 20px;
  }
}
::placeholder {
  color: #EB426C;
  font-weight: 500;
  font-size: 0.7rem;
  @include tablet {
    font-size: 1.25rem;
  }
  @include desktop {
    font-size: 1.25rem;
  }
}
.comment__box:focus {
  outline: none !important;
  box-shadow: 10px 10px 1.25rem rgb(181, 13, 41);
  border: .0625rem solid red;
}
.comment__button {
  color: #F4C8E8;
  border-color: deeppink;
  background-color: #F51D05;
  width: 50%;
  height: 8vh;
  font-size: 24px;
  margin-top: 10px;
}
/* SPECIAL BUTTON AREA */
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}
:root {
  --color-bg: #FDF1F2;
  --color-heart: #EA442B;
  --easing: cubic-bezier(.7, 0, .3, 1);
  --duration: .5s;
}
.like {
  left: .3125rem;
  @include tablet {
    left: 17.625rem;
    bottom: 9rem;
  }
  @include desktop {
    left: 16.625rem;
    bottom: 9.10rem;
  }
}
.like-button {
  font-size: 25vmin;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: white;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 2;
  transition: transform var(--duration) var(--easing);
  cursor: pointer;
  @include tablet {
    font-size: 15vmin;
  }
  @include desktop {
    font-size: 16vmin;
  }
  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 .3em 0.6em rgba(black, 0.3);
    border-radius: inherit;
    transition: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
    z-index: -1;
  }
  &:active {
    &:before {
      animation: depress-shadow var(--duration) var(--easing) both;
    }
  }
  &:focus:after {
    animation: depress var(--duration) var(--easing) both;
  }
  @keyframes depress {
    from,
    to {
      transform: none;
    }
    50% {
      transform: translateY(5%) scale(0.9);
    }
  }
  @keyframes depress-shadow {
    from,
    to {
      transform: none;
    }
    50% {
      transform: scale(0.5);
    }
  }
}
.like-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 1;
  >* {
    margin: auto;
    grid-area: 1 / 1;
  }
}
.heart {
  width: .5em;
  height: .5em;
  display: block;
  >path {
    stroke: var(--color-heart);
    stroke-width: 2;
    fill: transparent;
    transition: fill var(--duration) var(--easing);
    .like-button:focus & {
      fill: var(--color-heart);
    }
  }
  transform-origin: center 80%;
  .like-button:focus & {
    animation: heart-bounce var(--duration) var(--easing);
    @keyframes heart-bounce {
      40% {
        transform: scale(0.7);
      }
      0%,
      80%,
      100% {
        transform: scale(1);
      }
    }
  }
}
/* Added wrapper to prevent layout jank with resizing particles */
.particles {
  width: 1px;
  height: 1px;
}
.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: .1em;
  width: .1em;
  border-radius: .05em;
  background-color: var(--color);
  --percentage: calc(var(--i) / var(--total-particles));
  --Θ: calc(var(--percentage) * 1turn);
  transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  transition: all var(--duration) var(--easing);
  .like-button:focus & {
    animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
    @keyframes particles-out {
      50% {
        height: .3em;
      }
      50%,
      60% {
        height: .3em;
        transform:
          translate(-50%, -50%) rotate(var(--Θ)) translateY(.8em) scale(1);
      }
      60% {
        height: .2em;
      }
      100% {
        transform:
          translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
      }
    }
  }
}
.ripple {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: .4em solid var(--color-heart);
    border-radius: inherit;
    transform: scale(0);
  }
  .like-button:focus & {
    &:before {
      animation: ripple-out var(--duration) var(--easing);
      @keyframes ripple-out {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(5);
        }
      }
    }
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}
/* Reset the animation when clicking again! */
.like-button:focus {
  pointer-events: none;
  cursor: normal;
}
/* END OF SPECIAL BUTTON AREA */









